@import '../../styles/variables/gutters';
@import '../../styles/mixins/breakpoint-mixins';

.navbar {
  &-container {
    float: left;
    width: 100%;
    &--padded {
      padding: 2rem $gutter-small 5rem $gutter-small;
      @include tablet-up {
        padding: 2rem $gutter-medium 5rem $gutter-medium;
      }
      @include desktop-up {
        padding: 2rem $gutter-large 5rem $gutter-large;
      }
    }
  }

  &-logo {
    float: left;
  }

  &-hamburger {
    float: right;
    margin-top: 5px;
  }

}
