@import '../../styles/variables/gutters';
@import '../../styles/mixins/breakpoint-mixins';

.nav-section {
  float: left;
  font-family: 'Helvetica Neue', sans-serif;
  padding: 1.5rem $gutter-small 0 $gutter-small;
  @include tablet-up {
    padding: 1.5rem $gutter-medium 0 $gutter-medium;
  }
  @include desktop-up {
    padding: 1.5rem $gutter-large 0 $gutter-large;
  }

  h3 {
    // margin: 1rem 0 0 0;
    font-weight: 100;
    font-size: 24px;
    line-height: 1.2;
  }

  ul {
    font-weight: 100;
    font-size: 16px;
    list-style: none;
    li {
      margin: 1rem 0 1rem 1rem;
      a {
        color: grey;
        text-decoration: none;
      }
    }
  }

  &-title {



  }



}
